<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/indexStyles.css">
    <link rel="stylesheet" href="../public/styles/contato.css">
</head>
<body>
    <header id="mainHeader">
        <div class="logo-container" onclick="window.location.href='index.html'">
            <img src="../img/logo_secretphase.png" alt="logo">
        </div>
        <div id="infoDiv">
            <div id="searchDiv">
                <input type="text" id="searchBar">
                <button class="btn">
                    <img src="../img/search.icon.png" alt="search">
                </button>
                <button class="btn">
                    <img src="../img/hamburguer.icon.png" alt="hamburguer">
                </button>
            </div>
            <div id="navigationDiv">
                <div style="border-radius: 30px 0px 0px 0px;" onclick="window.location.href='faseLancamento.html'"> 
                    <p>Fase de Lançamento</p>
                </div>
                <div onclick="window.location.href='promocoes.html'">
                    <p>Promoções</p>
                </div>
                <div onclick="window.location.href='forum.html'">
                    <p>Forum</p>
                </div>
                <div onclick="window.location.href='contato.html'">
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </header>

    <div class="layout">
        <main>
            <header id="noticiaHeader">
                <div>
                    <h2>TESTE DE TITULO</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui minus numquam veritatis earum aliquam nemo culpa dolorum, quia, quam iure. Quos quis accusantium nulla assumenda alias est et blanditiis?</p>
            </header>
            <form action="">
                <label for="campoNome"><p>seu nome</p></label>
                <input type="text" name="campoNome" id="campoNome">

                <label for="email"><p>email</p></label>
                <input type="email" id="email" name="email">

                <label for="email"><p>assunto</p></label>
                <input type="email" id="email" name="email">

                <label for="email"><p>mensagem</p></label>
                <input type="email" id="email" name="email">
                
            </form>
        </main>

        <aside>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
        </aside>
    </div>

    <footer>
        <div id="footerpoliticas">
            <nav>
                <ul>
                    <li><a href="">Politica de privacidade</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">termos de uso</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerVejaMais">
            <nav>
                <ul>
                    <li><a href="">Colunistas</a></li>
                    <li><a href="">FeedClub</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Curiosidades</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerSiga">
            <nav>
                <ul>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>