<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../public/styles/indexStyles.css">
    <link rel="stylesheet" href="../public/styles/forum.css">
</head>
<body>
    <header id="mainHeader">
        <div class="logo-container" onclick="window.location.href='index.html'">
            <img src="../img/logo_secretphase.png" alt="logo">
        </div>
        <div id="infoDiv">
            <div id="searchDiv">
                <input type="text" id="searchBar">
                <button class="btn">
                    <img src="../img/search.icon.png" alt="search">
                </button>
                <button class="btn">
                    <img src="../img/hamburguer.icon.png" alt="hamburguer">
                </button>
            </div>
            <div id="navigationDiv">
                <div style="border-radius: 30px 0px 0px 0px;" onclick="window.location.href='faseLancamento.html'"> 
                    <p>Fase de Lançamento</p>
                </div>
                <div onclick="window.location.href='promocoes.html'">
                    <p>Promoções</p>
                </div>
                <div onclick="window.location.href='forum.html'">
                    <p>Forum</p>
                </div>
                <div onclick="window.location.href='contato.html'">
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </header>

    <section id="ultimasNoticiasImg">
        <!-- apenas imagens das noticias aqui bem grande -->
            <img src="../img/outlast1.jpg" alt="" class="noticiaPhoto" onclick="window.location.href='noticia1.html'" style="cursor: pointer;">
            <div>
            <img src="../img/hades2.jpg" alt="" class="noticiaPhoto" onclick="window.location.href='noticia2.html'" style="cursor: pointer;">
            
            <img src="../img/R6x-Siege-540x960.avif" alt="" class="noticiaPhoto" onclick="window.location.href='noticia3.html'" style="cursor: pointer;">
            
            <img src="../img/stellarblade.jpeg" alt="" class="noticiaPhoto" onclick="window.location.href='noticia4.html'" style="cursor: pointer;">
            
            <img src="../img/tlou2.jpg" alt="" class="noticiaPhoto" onclick="window.location.href='noticia5.html'" style="cursor: pointer;">
            </div>
    </section>

    <div class="layout">
        <main>
            <section class="comentarios ultimasNoticias">
                <div class="noticiasGroup">
                    <article class="comentario">
                        <header>
                            <h2>O que acharam da nova engine do Siege X</h2>
                        </header>
                        <div class="content">
                            <p>Joguei algumas partidas ontem e percebi que a movimentação está mais fluida, mas ainda senti um leve delay na troca de armas. A engine nova realmente melhorou a iluminação, mas será que vai aguentar os campeonatos maiores?</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                    <article class="comentario">
                        <header>
                            <h2>Vale a pena jogar Stellar Blade no lançamento?</h2>
                        </header>
                        <div class="content">
                            <p>To pensando em comprar, mas vi muita gente falando sobre a polêmica do design da protagonista. O jogo em si parece ótimo, mas será que o marketing exagerou demais nisso?</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                    <article class="comentario">
                        <header>
                            <h2>AC Shadows: vocês vão jogar com o samurai ou a shinobi primeiro?</h2>
                        </header>
                        <div class="content">
                            <p>Achei incrível poder escolher entre dois protagonistas com estilos tão diferentes. Alguém aqui vai direto no stealth com a Naoe ou prefere ir no braço com o Yasuke?</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                    <article class="comentario">
                        <header>
                            <h2>Final de The Last of Us T2 vai dividir geral de novo?</h2>
                        </header>
                        <div class="content">
                            <p>Depois dos rumores, parece que a série vai seguir o roteiro do jogo 2 bem de perto. Eu curti a coragem da história, mas sei que muita gente vai ficar revoltada de novo. Vocês acham que a HBO vai suavizar algo?</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                    <article class="comentario">
                        <header>
                            <h2>Outlast ainda assusta ou virou fórmula repetida?</h2>
                        </header>
                        <div class="content">
                            <p>Joguei o primeiro de novo esses dias e ainda arrepia! Mas confesso que depois de tantos jogos parecidos, a fórmula está ficando previsível. Acho que falta inovação no gênero.</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                    <article class="comentario">
                        <header>
                            <h2>Promoções da Steam valem a pena mesmo ou é ilusão?</h2>
                        </header>
                        <div class="content">
                            <p>Tô com 60 jogos na biblioteca e zerei só uns 5 😂 Alguém mais compra por impulso e depois nem instala? A promo de inverno tá vindo aí e já tô com medo da carteira.</p>
                        </div>
                        <div class="comentarioInfo">
                            <div>
                                <img src="../img/favorite_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10</p>
                            </div>
                            <div>
                                <img src="../img/add_comment_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>2</p>
                            </div>
                            <div>
                                <img src="../img/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="like">
                                <p>10/10/25</p>
                            </div>
                        </div>
                    </article>
                </div>
                
            </section>
        </main>
    
        <aside>
            <div class="asideNoticia" onclick="window.location.href='noticia7.html'" style="cursor: pointer;">
                <img src="../img/acshadow.jpeg" alt="" id="asideFoto">
                <h3>Assassin’s Creed Shadows: Japão Feudal e Dupla Protagonista Marcam Nova Fase da Franquia</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia6.html'" style="cursor: pointer;">
                <img src="../img/fallout-capa.webp" alt="" id="asideFoto">
                <h3>Fallout: a adaptação que surpreendeu até os céticos</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia1.html'" style="cursor: pointer;">
                <img src="../img/outlast1.jpg" alt="" id="asideFoto">
                <h3>OutLast: O jogo que transformou medo em arte</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia2.html'" style="cursor: pointer;">
                <img src="../img/hades2.jpg" alt="" id="asideFoto">
                <h3>Hades II: o retorno triunfante ao inferno</h3>
            </div>
           
        </aside> 
    </div>

    <footer>
        <div id="footerpoliticas">
            <nav>
                <ul>
                    <li><a href="">Politica de privacidade</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">termos de uso</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerVejaMais">
            <nav>
                <ul>
                    <li><a href="">Colunistas</a></li>
                    <li><a href="">FeedClub</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Curiosidades</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerSiga">
            <nav>
                <ul>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>