<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/indexStyles.css">
    <link rel="stylesheet" href="../public/styles/pag1.css">
</head>
<body>
    <header id="mainHeader">
        <div class="logo-container" onclick="window.location.href='index.html'">
            <img src="../img/logo_secretphase.png" alt="logo">
        </div>
        <div id="infoDiv">
            <div id="searchDiv">
                <input type="text" id="searchBar">
                <button class="btn">
                    <img src="../img/search.icon.png" alt="search">
                </button>
                <button class="btn">
                    <img src="../img/hamburguer.icon.png" alt="hamburguer">
                </button>
            </div>
            <div id="navigationDiv">
                <div style="border-radius: 30px 0px 0px 0px;" onclick="window.location.href='faseLancamento.html'"> 
                    <p>Fase de Lançamento</p>
                </div>
                <div onclick="window.location.href='promocoes.html'">
                    <p>Promoções</p>
                </div>
                <div onclick="window.location.href='forum.html'">
                    <p>Forum</p>
                </div>
                <div onclick="window.location.href='contato.html'">
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </header>


    <div class="layout">
        <main>
            <article>
                <header id="noticiaHeader">
                    <div>
                        <h2>Rainbow Six Siege X: A Nova Era do Competitivo</h2>
                    </div>
                </header>
                <section id="noticiaSection">
                    <img src="../img/R6x-Siege-540x960.avif" alt="">
                    <P>A Ubisoft finalmente revelou Rainbow Six Siege X, a nova fase do lendário shooter tático que redefiniu o multiplayer competitivo na última década. Mais do que uma simples atualização, o Siege X é tratado como um "reboot evolutivo" da franquia: novos operadores com habilidades reformuladas, mapas inéditos, física mais realista e uma engine gráfica renovada.</P>
                    <img src="../img/siegex.avif" alt="">
                    <P>Destaque especial vai para a reformulação dos papéis dentro das equipes — agora, a composição estratégica ganha ainda mais profundidade, com operadores híbridos e gadgets adaptáveis durante a partida. O visual também foi modernizado, mantendo a identidade original, mas com texturas de última geração, animações refinadas e melhor desempenho.</P>
                    <br>
                    <p>O modo Spectator e a integração com plataformas de streaming indicam que a Ubisoft está investindo pesado no cenário competitivo. Siege X não é apenas uma nova fase — é um renascimento que pretende reconquistar veteranos e impressionar uma nova geração de jogadores.</p>
                </section>
            </article>
        </main>
        <aside>
            <div class="asideNoticia" onclick="window.location.href='noticia7.html'" style="cursor: pointer;">
                <img src="../img/acshadow.jpeg" alt="" id="asideFoto">
                <h3>Assassin’s Creed Shadows: Japão Feudal e Dupla Protagonista Marcam Nova Fase da Franquia</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia6.html'" style="cursor: pointer;">
                <img src="../img/fallout-capa.webp" alt="" id="asideFoto">
                <h3>Fallout: a adaptação que surpreendeu até os céticos</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia1.html'" style="cursor: pointer;">
                <img src="../img/outlast1.jpg" alt="" id="asideFoto">
                <h3>OutLast: O jogo que transformou medo em arte</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia2.html'" style="cursor: pointer;">
                <img src="../img/hades2.jpg" alt="" id="asideFoto">
                <h3>Hades II: o retorno triunfante ao inferno</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia3.html'" style="cursor: pointer;">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>Rainbow Six Siege X: A Nova Era do Competitivo</h3>
            </div>
        </aside> 
    </div>

    <footer>
        <div id="footerpoliticas">
            <nav>
                <ul>
                    <li><a href="">Politica de privacidade</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">termos de uso</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerVejaMais">
            <nav>
                <ul>
                    <li><a href="">Colunistas</a></li>
                    <li><a href="">FeedClub</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Curiosidades</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerSiga">
            <nav>
                <ul>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>