<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/indexStyles.css">
    <link rel="stylesheet" href="../public/styles/pag1.css">
</head>
<body>
    <header id="mainHeader">
        <div class="logo-container" onclick="window.location.href='index.html'">
            <img src="../img/logo_secretphase.png" alt="logo">
        </div>
        <div id="infoDiv">
            <div id="searchDiv">
                <input type="text" id="searchBar">
                <button class="btn">
                    <img src="../img/search.icon.png" alt="search">
                </button>
                <button class="btn">
                    <img src="../img/hamburguer.icon.png" alt="hamburguer">
                </button>
            </div>
            <div id="navigationDiv">
                <div style="border-radius: 30px 0px 0px 0px;" onclick="window.location.href='faseLancamento.html'"> 
                    <p>Fase de Lançamento</p>
                </div>
                <div onclick="window.location.href='promocoes.html'">
                    <p>Promoções</p>
                </div>
                <div onclick="window.location.href='forum.html'">
                    <p>Forum</p>
                </div>
                <div onclick="window.location.href='contato.html'">
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </header>


    <div class="layout">
        <main>
            <article>
                <header id="noticiaHeader">
                    <div>
                        <h2>OutLast: O jogo que transformou medo em arte</h2>
                    </div>
                </header>
                <section id="noticiaSection">
                    <img src="../img/outlast1.jpg" alt="">
                    <P>O protagonista, Miles Upshur, é um jornalista investigativo que decide entrar no misterioso manicômio de Mount Massive após receber uma denúncia anônima. Logo ao cruzar os portões, percebe que cometeu um erro fatal. O lugar está repleto de ex-pacientes violentos, experimentos genéticos fracassados e entidades que desafiam a lógica — tudo encoberto por uma megacorporação chamada Murkoff.</P>
                    <img src="../img/outlast2.png" alt="">
                    <P>A grande sacada de Outlast é como ele te coloca no papel de vítima. A sensação de impotência é constante, já que o jogador não pode atacar, apenas fugir ou se esconder. Isso cria uma tensão absurda, especialmente com o uso da câmera de visão noturna — sua única aliada na escuridão. O som de uma respiração ofegante ou passos se aproximando são o suficiente pra fazer qualquer um pausar o jogo e repensar a vida.</P>
                    <br>
                    <p>Outlast não é apenas um jogo de terror — é uma experiência psicológica intensa, construída com maestria para testar os limites da coragem do jogador. Sua proposta única, que te obriga a enfrentar o medo com vulnerabilidade e sem armas, o transforma em uma obra memorável dentro do gênero. Para quem busca muito mais do que sustos baratos, Outlast entrega um terror atmosférico que permanece na mente muito depois da tela escurecer.</p>
                </section>
            </article>
        </main>
        <aside>
            <div class="asideNoticia" onclick="window.location.href='noticia7.html'" style="cursor: pointer;">
                <img src="../img/acshadow.jpeg" alt="" id="asideFoto">
                <h3>Assassin’s Creed Shadows: Japão Feudal e Dupla Protagonista Marcam Nova Fase da Franquia</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia6.html'" style="cursor: pointer;">
                <img src="../img/fallout-capa.webp" alt="" id="asideFoto">
                <h3>Fallout: a adaptação que surpreendeu até os céticos</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia1.html'" style="cursor: pointer;">
                <img src="../img/outlast1.jpg" alt="" id="asideFoto">
                <h3>OutLast: O jogo que transformou medo em arte</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia2.html'" style="cursor: pointer;">
                <img src="../img/hades2.jpg" alt="" id="asideFoto">
                <h3>Hades II: o retorno triunfante ao inferno</h3>
            </div>
            <div class="asideNoticia" onclick="window.location.href='noticia3.html'" style="cursor: pointer;">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>Rainbow Six Siege X: A Nova Era do Competitivo</h3>
            </div>
        </aside> 
    </div>

    <footer>
        <div id="footerpoliticas">
            <nav>
                <ul>
                    <li><a href="">Politica de privacidade</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">termos de uso</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerVejaMais">
            <nav>
                <ul>
                    <li><a href="">Colunistas</a></li>
                    <li><a href="">FeedClub</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Curiosidades</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerSiga">
            <nav>
                <ul>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>