<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../public/styles/indexStyles.css">
    <link rel="stylesheet" href="../public/styles/promocoes.css">
</head>
<body>
    <header id="mainHeader">
        <div class="logo-container" onclick="window.location.href='index.html'">
            <img src="../img/logo_secretphase.png" alt="logo">
        </div>
        <div id="infoDiv">
            <div id="searchDiv">
                <input type="text" id="searchBar">
                <button class="btn">
                    <img src="../img/search.icon.png" alt="search">
                </button>
                <button class="btn">
                    <img src="../img/hamburguer.icon.png" alt="hamburguer">
                </button>
            </div>
            <div id="navigationDiv">
                <div style="border-radius: 30px 0px 0px 0px;" onclick="window.location.href='faseLancamento.html'"> 
                    <p>Fase de Lançamento</p>
                </div>
                <div onclick="window.location.href='promocoes.html'">
                    <p>Promoções</p>
                </div>
                <div onclick="window.location.href='forum.html'">
                    <p>Forum</p>
                </div>
                <div onclick="window.location.href='contato.html'">
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </header>
    <section id="ultimasNoticiasImg">
        <!-- apenas imagens das noticias aqui bem grande -->
            <img src="../img/R6x-Siege-540x960.avif" alt="" class="noticiaPhoto">
            <div>
            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
            
            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
            
            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
            
            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
            </div>
    </section>
    <div class="layout">
        <main> 
            <section class="ultimasNoticias">
                <div class="noticiasGroup">
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                    <article class="noticia">
                        <div>
                            <img src="../img/r6.jpg" alt="" class="noticiaPhoto">
                        </div>
                        <div class="infoGamePromo">
                            <h2>Rainbow six Siege</h2>
                            <p>testando</p>
                            <p class="price">de <span class="valorSemPromo">R$10</span> por <span class="valorComPromo">R$5</span></p>
                        </div>
                    </article>
                </div> 
            </section>
        </main>
    
        <aside>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
            <div class="asideNoticia">
                <img src="../img/R6x-Siege-540x960.avif" alt="" id="asideFoto">
                <h3>noticia da foto</h3>
            </div>
        </aside> 
    </div>


    <footer>
        <div id="footerpoliticas">
            <nav>
                <ul>
                    <li><a href="">Politica de privacidade</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">termos de uso</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerVejaMais">
            <nav>
                <ul>
                    <li><a href="">Colunistas</a></li>
                    <li><a href="">FeedClub</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Curiosidades</a></li>
                </ul>
            </nav>
        </div>
        <div id="footerSiga">
            <nav>
                <ul>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>