.layout {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    gap: 20px;
}

main {
    background-color: #102e41;
    display: flex;
    width: auto;
    justify-self: center;
    margin-top: 80px;
    margin-left: 20px;

}

#noticiaHeader {
    width: auto;
    height: auto;
    justify-items: left;
    align-items: center;
    background-color: #102e41;
    justify-self: center;
}

#noticiaHeader div {
    background-color: #64899e;
    height: auto;
    width: auto;
    padding: 20px;
    margin-left: 40px;
    border: 3px solid #1da0ed;
    border-radius: 10px;
}

#noticiaSection {
    margin-left: 80px;
    justify-items: start;
}

#noticiaSection img {
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

aside {
    margin-top: 68px;
    background-color: rgb(26, 24, 24);
}
