.ultimasNoticias {
    height: 1350px;
    justify-items: center;
}

h2 {
    color: white;
}

.noticiasGroup {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
    background-color: #102e41;
    margin-right: 80px;
    justify-items: center;
}

.noticia {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    height: 200px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    background-color: #3b5360;
    padding: 5px;
    margin: 20px;
}

.noticia div {
    justify-items: center;
}

.noticia div p {
    color: rgb(255, 255, 255);
    
}

.noticia div img {
    border-radius: 10px;
    height: 150px;
    align-self: center;
}

.infoGamePromo {
    align-self: self-start;
    height: 190px;
    position: relative;
}

.price{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.valorComPromo {
    color: rgb(0, 223, 0);
    font-weight: bold
}

.valorSemPromo {
    color: rgb(138, 10, 10);
    text-decoration: line-through;
}

aside {
    height: auto;
    grid-template-rows: 300px 300px 300px 300px;
}

